/* Global */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Gallery */
.gallery-img-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr) );
    place-content: center;
    justify-items: center;
    

    
}

.gallery-search-bar{
    display: flex;
    justify-content: end;
}


/* Editor */
.editor {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(max-content, max-content) minmax(max-content, 1fr);
    justify-items: end;
}

.editor-options {
    grid-column-start: 3;
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    justify-items: center;
    align-items: center;
}