/* Global */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Gallery */
.gallery-img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    justify-content: center;
}

.gallery-search-bar {
    display: flex;
    justify-content: space-between;
}


/* Editor */
.editor {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 88%;
    

}

.editor-options {
    position: fixed;
    right: 0;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-areas:
    "text-input text-input"
    "emojis-container emojis-container"
    "alignment-control line-control"
    "up-down-keys font-control"
    "stroke-control fill-line";
 
    
    height: 100%;
    width: max-content;

}





.text-input {
    grid-area: text-input;
}

.line-control {
    grid-area: line-control;
}

.up-down-keys {
    grid-area: up-down-keys;
}

.font-control{
    grid-area: font-control;
}

.alignment-control {
    grid-area: alignment-control;
}

.stroke-control {
    grid-area: stroke-control;
}


.fill {
    grid-area: fill-line;
}

.emojis-container{

    grid-area: emojis-container;

}