canvas {
    box-shadow: 0 0 15px 4px;
    border: 2px solid lightblue;

}



.canvas-container {
    width: 40vw;
    height: 40vw;
}

.editor-options {
    font-size: 2em;
    row-gap: 10px;
    margin: 0;
    box-shadow: 0 0 15px 4px;
    background-color: rgb(83, 83, 83);
}

.emojis-container{
    display: flex;
    justify-content: center;
}

.emoji{
    width: 2em;
}

.editor-options input,
button {
    font-size: 0.7em;
}


.text-input {
    grid-area: text-input;
}

.line-control {
    grid-area: line-control;
}

.up-down-keys {
    grid-area: up-down-keys;
}

.alignment-control {
    grid-area: alignment-control;
}

.stroke-control {
    grid-area: stroke-control;
}

.download-btn {
    grid-area: download-btn;
}
