canvas {
    box-shadow: 0 0 15px 4px;
    border: 2px solid lightblue;

}



.canvas-container {
    width: 40vw;
    height: 40vw;
}

.editor-options {
    font-size: 1.5em;
    margin: 0;
    box-shadow: 0 0 15px 4px;
    background-color: rgb(83, 83, 83);
    height: 90%;
}

.editor-options button, input {
    font-size: 1em;
}

.emojis-container {
    display: flex;
    justify-content: center;
}

.emoji {
    width: 2em;
}

