.gallery-img-container{
    gap: 2em;
    margin-block: 2em;
 
}



.gallery-search-bar{
    height: 5vh;
    background-color: rgba(83, 83, 83, 0.76);
    box-shadow: 0 0 1px 1px;
    border: 2px solid lightblue;

}

.gallery img{
    width: 100%;
    align-self: center;
    box-shadow: 0 0 15px 4px;
    border: 2px solid lightblue;
    transition: 0.2s;

}

.gallery-img:hover{
    transform: scale(1.13);
    z-index: 10;
    }

.flexible-btn{
    margin-left: 0;
    border-radius: 50% 20% / 10% 40%;
    font-size: 1.5em;
    border: solid black 2px;

    background-color: rgb(67, 152, 173);


}

.filter-clear-btn{
    height: 100%;
}

.filter input{
    height: 84%;
}