.header {
    background-color: #20c7ddb6;

    border: lightblue solid 2px;
    box-shadow: 0 0 15px 4px;
    margin-bottom: 10px;
    height: 10%;
}




.nav-btn {
    position: absolute;
    right: 0;

    width: 15vh;
    height: 120%;
    border-end-end-radius: 60%;
    border-start-start-radius: 60%;
    font-size: 1.1em;
    padding: 0.4em;
    border: none;
    box-shadow: 0 0 15px 4px;
}


.header h1 {
    font-size: 2em;
    text-align: center;
}