.header {
    background-color: #20c7ddb6;
    border-end-start-radius: 60%;
    border: lightblue solid 2px;
}




.nav-btn {
    position: absolute;
    left: 0;
    border: solid black 1px;
    width: 10vh;
    height: 100%;
    border-start-end-radius: 60%;
}