@media (max-width:1210px) {
    .header h1 {
        font-size: 1.5em;
        width: 50%;
        margin: 0;
    }

    .nav-btn {
        height: 80%;
        border-radius: 0;
        padding: 0;
    }

    .canvas-container {
        width: 50vw;
        height: 50vw;
    }

    .editor-options {
        font-size: 1em;

    }
}

@media (max-width:850px) {
    .canvas-container {
        width: 59vw;
        height: 59vw;
    }

    .editor-options {
        width: 100%;
        bottom: 0;
        height: 30vh;
        align-self: center;
        grid-template-areas:
            "text-input text-input alignment-control up-down-keys stroke-control media-actions"
            "emojis-container emojis-container line-control font-control fill-line media-actions";
    }
}

@media (max-width:550px) {
    .editor-options {
        font-size: 2em;
        height: 50%;
        grid-template-areas:
            "text-input text-input"
            "emojis-container emojis-container"
            "alignment-control line-control"
            "up-down-keys font-control"
            "fill-line stroke-control"
            "media-actions media-actions";
    }

    .canvas-container {
        width: 325px;
        height: 325px;
    }
}