/* @media (max-width:1210px) {
    .header h1 {
        font-size: 1.5em;
        width: 50%;
        margin: 0;
    }

    .nav-btn {
        height: 80%;
        border-radius: 0;
        padding: 0;
    }

    .canvas-container {
        width: 50vw;
        height: 50vw;
    }

    .editor-options {
        font-size: 1em;

    }
} */

@media (max-width:1030px) {
    .canvas-container {
        width: 420px;
        height: 420px;
    }

    .editor-options {
        font-size: 1.8em;
        width: 100%;
        bottom: 0;
        height: 40vh;
        align-self: center;
        grid-template-areas:
            "text-input text-input alignment-control  stroke-control media-actions"
            "emojis-container emojis-container   fill-line media-actions"
            "up-down-keys line-control font-control media-actions ";
    }
}

@media (max-width:550px) {
    .editor-options {
        font-size: 7vw;
        height: 50%;
        grid-template-areas:
            "text-input text-input"
            "emojis-container emojis-container"
            "alignment-control line-control"
            "up-down-keys font-control"
            "fill-line stroke-control"
            "media-actions media-actions";
    }

    .canvas-container {
        width: 325px;
        height: 325px;
    }
}